<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated countries -->
      <package
            uri="http://www.example.org/countries"
            class="com.burlette.emf.countries.model.countries.CountriesPackage"
            genModel="model/countries.genmodel"/>
   </extension>

</plugin>
